:root {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
}

label {
  margin-bottom: 4px;
}

.Fresh-FileInput-description {
  margin-bottom: 6px;
}